/* all */
p{
    font-size: 1.4rem;
}



/* navigation */
#home img{
    filter: drop-shadow(0 0 5px #fff2d8);
}

#scroll-buttons, #home{
    visibility: visible;
    pointer-events: all;
}



/* main */
.content-text{
    max-width: 80%;
}