/* all */
ul{
    list-style-type: none;
    min-width: 80%;
    text-align: left;
    font-size: 1.8rem;
}

li:hover{
    transition: 0.4s;
    transform: scale(1.05);
    color: var(--prim-color);
}
li:hover a{
    transition: 0.4s;
    color: var(--prim-color);
}

a.highlighting:hover{
    text-decoration: underline;
}

.text-contrast p{
    text-shadow: #666666 0 0 10px;
}

.first-pad{
    padding-left: 5rem;
}
.second-pad{
    padding-left: 10rem;
}



/* navigation */
#home img{
    filter: drop-shadow(0 0 5px #fff2d8);
}

#scroll-buttons, #home{
    visibility: visible;
    pointer-events: all;
}



/* main */
.main{
    height: auto;
    padding-top: 100px;
}
.main:first-child, #contact-main{
    height: 100vh;
    padding-top: 0;
}

.article-content-text{
    width: 80%;
    max-width: 80%;
    height: 80%;
}
.article-content-text p:not(:last-child) {
  padding-bottom: 2rem;
}
.article-content-text img{
    max-width: 100%;
    min-width: 40%;
    max-height: 80vh;
    min-height: 40vh;  
}

.content-text{
    max-height: 80%;
}

.double-content-text{
    width: 80%;
    max-width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.double-content-text .article-content-text{
    min-width: 50%;
}

#printing-notes{
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

#printing-notes .content{
    width: 80%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#printing-notes .content-text{
    max-width: 100%;
    width: 100%;
}

#parts-overview{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw;
}

.one-project{
    max-width: 420px;
    max-height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.one-project-text a{
    text-shadow: var(--prim-color) 0 0 10px;
}

.article-content{
    flex-direction: column;
}

.text-image-content{
    width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.text-image-text{
    max-width: 60%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.text-image-image{
    max-width: 40%;
    min-width: 320px;
    max-height: 700px;
}
.text-image-image img{
    width: 100%;
    max-height: 700px;
    border-radius: 1.5rem;
}

#photo-gallery .content{
    flex-direction: column;
}
#photo-gallery .content-text{
    height: auto;
}

#gallery-content{    
    width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery-content-image{
    overflow: hidden;
    width: 10rem;
    height: 10rem;
}
.gallery-content-image:hover img{
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1.2);
}
.gallery-content-image img{
    width: 100%;
    height: 100%;
}

#gallery-popup{
    z-index: 1100;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 5rem;
}
#gallery-popup span{
    cursor: pointer;
    color: var(--prim-color);
    text-shadow: var(--prim-color) 0 0 10px;
}
#gallery-popup span:hover{
    transition: 0.4s;
    text-shadow: var(--prim-color) 0 0 20px;
}

.gallery-popup-close{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gallery-popup-name{
    font-size: 2rem;
    color: var(--prim-color);
}

.gallery-popup-controls{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gallery-popup-image{
    max-width: 80vh;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-popup-image img{
    width: 100%;
    height: 100%;
    max-height: 80vh;
}



/* media queries */
@media only screen and (max-width: 799px){
    .main:first-child, #contact-main{
        height: auto;
    }

    .double-content-text{
        flex-direction: column;
    }
    .double-content-text .article-content-text{
        min-width: 90%;
    }

    .text-image-content{
        min-width: 90%;
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }

    .text-image-reverse{
        flex-direction: column-reverse;
    }

    .text-image-text{
        min-width: 100%;
    }

    .text-image-image{
        max-width: 72%;
        min-width: 320px;
    }

    #gallery-content{
        height: auto;
    }
}










/* Created by warezoid with the love of freedom and numbers. */