/* all */
ul{
    list-style-type: none;
    min-width: 80%;
    text-align: left;
    font-size: 1.8rem;
}

a li:hover{
    transition: 0.4s;
    transform: scale(1.05);
    color: #ec6116;
}

.first-pad{
    padding-left: 5rem;
}
.second-pad{
    padding-left: 10rem;
}



/* navigation */
#home img{
    filter: drop-shadow(0 0 5px #fff2d8);
}

#scroll-buttons, #home{
    visibility: visible;
    pointer-events: all;
}



/* main */
.content-text{
    max-height: 80%;
}

.double-content-text{
    width: 80%;
    max-width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.double-content-text .article-content-text{
    min-width: 50%;
}

.article-content-text{
    width: 80%;
    max-width: 80%;
    height: 80%;
}



/* media queries */
@media only screen and (max-width: 799px){
    .double-content-text{
        flex-direction: column;
    }
    .double-content-text .article-content-text{
        min-width: 90%;
    }
}










/*

    Created by warezoid with the love of freedom and numbers.
    
    I would like to thank my friends for their help in developing warezoid.com, whether it be through advice, design choices or sharing their opinions.





    SOURCES

    Sources can be seen as links to products used in warezoid.com, including graphics and research tools. I have chosen not to list elementary products such as HTML, CSS, JavaScript and many others.
    
    1. Graphics
        1.1. Google fonts - font used in warezoid.com: [ fonts.google.com ]
        1.1.1 Bakbak One - specific font used in Bitcointags: [ fonts.google.com/specimen/Cal+Sans ]
        1.2. SVGrepo - svg icons: [ svgrepo.com ]
        1.3. Haikei - blob generator: [ app.haikei.app ]
        1.4. Coolors - color palettes: [ coolors.co ]
        1.5. Figma - warezoid.com design: [ figma.com ]

    2. Research tools
        2.1. ChatGPT: [ chatgpt.com ]
        2.2. Stackoverflow: [ stackoverflow.com ]
        2.3. DeepL: [ deepl.com ]
        2.4. And the Internet itself.
    
    3. Validators
      3.1. HTML validator: [ validator.w3.org ]
      3.2. CSS validator: [ jigsaw.w3.org/css-validator ]

*/